<h1>Listing <%= pluralize(@dojos.count, "Dojo") %></h1>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<table>
    <thead>
        <tr>
            <td>Coding Dojo Branch</td>
            <td>Street</td>
            <td>City</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>
        <% @dojos.each do |dojo| %>
        <tr>
            <td><%= dojo.branch %></td>
            <td><%= dojo.street %></td>
            <td><%= dojo.city %></td>
            <td><%= dojo.state %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<a href="/dojos/new">New Dojo</a>
